body {
  text-align: center;
}

div.board {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 4em;
  margin: 25px 0;
}

p {
  font-size: 2em;
  margin:0;
}

.header {
  width: 400px;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

table {
  border: 1px solid black;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 5px;
  background: #ccc;
  border-radius: 10px;
    -moz-border-radius: 10px;
}

table, td {
    border: 5px solid #ccc;
    padding: 7.5px;
}

td {
  background: #aaa;
  font-size: 3em;
  color: #333;
  text-align: center;
  width: 110px;
  height: 110px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}

button {
  background-color:#44c767;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:21px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 0px 0px #2f6627;
}

.game-over button {
  background-color:red;
}

button:hover {
  background-color:#5cbf2a;
}
button:active {
  position:relative;
  top:1px;
}
